<div class="contenedor">
    <h2>Editar Pelicula</h2>

    @if (cinesNoSeleccionados) {
    <app-mostrar-errores [errores]="errores"></app-mostrar-errores>
    <app-formulario-editar-peliculas [modelo]="pelicula" [generosNoSeleccionados]="generosNoSeleccionados"
        [generosSeleccionados]="generosSeleccionados" [cinesNoSeleccionados]="cinesNoSeleccionados"
        [cinesSeleccionados]="cinesSeleccionados" [actoresSeleccionados]="actoresSeleccionados" [directoresSeleccionados]="directoresSeleccionados"
        (posteoFormulario)="guardarCambios($event) "></app-formulario-editar-peliculas>
    }
    @else {
    <app-cargando></app-cargando>
    }
</div>