<app-listado-generico [listado]="peliculas">
    <ng-container contenido>
        <div class="peliculas-contenedor">
            @for (pelicula of peliculas; track $index)
            {
            <div class="pelicula-contenedor ">
                <a [routerLink]="['/peliculas',pelicula.id]">
                    @if (pelicula.poster)
                    {
                    <img [src]="pelicula.poster" width="200" height="300">
                    }@else
                    {
                    <img src="default.jpg" width="200" height="300">
                    }
                </a>
                <p>
                    <a  [routerLink]="['/peliculas',pelicula.id]">{{pelicula.titulo}}</a>
                </p>
                <div>
                    <app-autorizado rol="admin">
                        <ng-container autorizado>
                            <a mat-flat-button [routerLink]="['/peliculas/editar',pelicula.id]">Editar</a>
                            <button mat-flat-button type="button"
                                [swal]="{title:'Confirmacion', text:'Deseas borrar el registro?',showCancelButton:true}"
                                (confirm)="borrar(pelicula.id)" color="warn">Borrar</button>
                        </ng-container>
                    </app-autorizado>

                </div>
            </div>
            }
        </div>
    </ng-container>
</app-listado-generico>