<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
    <div class="card p-4 shadow" style="width: 350px;">
        <h2 class="text-center mb-4">{{titulo}}</h2>

        <app-mostrar-errores [errores]="errores"></app-mostrar-errores>

        <form (submit)="guardarCambios()" [formGroup]="form">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" class="form-control" [formControl]="form.controls.email">
                <div class="text-danger" *ngIf="obtenerErrorEmail()">
                    {{obtenerErrorEmail()}}
                </div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" class="form-control" [formControl]="form.controls.password">
                <div class="text-danger" *ngIf="obtenerErrorPassword()">
                    {{obtenerErrorPassword()}}
                </div>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Guardar Cambios</button>
            </div>
        </form>
    </div>
</div>