mat-chip-listbox {
    display: inline-block;
    margin-bottom: 0.5rem;
}
app-rating{
 vertical-align: middle;   
}
.contenedor {
    margin: 0 100px;
    padding-bottom: 100px;
    padding: 10px;

}
h2{
    color: white;
}
span{
    color: white;
}
h3{
    color: white;
}
.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__text-label {
    color: white;
}
.contenedor-sinopsis{
    color: white;
}
.contenedor-titulo{
    display: flex;
    flex-direction: row;
}
.contenedor-titulo button{
    margin-left: 1rem;
    width: 60px;
}
.separador {
    border-top: 1px solid #ccc;
    
}
.glass-effect {
    width: 300px;
    height: 415px;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    border: 1.5px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 15px rgba(255, 255, 255, 0.1);
}
.span-actores{
    cursor: pointer;
}
.span-actores:hover{
    color: #ff4081;
    text-decoration: underline;
}
.span-directores {
    cursor: pointer;
}

.span-directores:hover {
    color: #ff4081;
    text-decoration: underline;
}