<div class="contenedor">
    <h2>Listado de usuarios</h2>

    <app-listado-generico [listado]="usuarios">
        <ng-container contenido>
            <table mat-table [dataSource]="usuarios" class="mat-elevation-z8 indice-elementos">
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let element">{{element.email}}</td>
                </ng-container>
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-flat-button [ngClass]="element.esAdmin ? 'btn-rojo' : 'btn-verde'"
                            (click)="element.esAdmin ? removerAdmin(element.email) : hacerAdmin(element.email)">
                            <span *ngIf="!element.esAdmin" class="icono">✔</span>
                            <span *ngIf="element.esAdmin" class="icono">✖</span>
                            {{ element.esAdmin ? 'Remover admin' : 'Promover a admin' }}
                        </button>
                    </td>

                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnasMostrar"></tr>
                <tr mat-row *matRowDef="let row; columns:columnasMostrar"></tr>
            </table>
            <mat-paginator showFirstLastButtons [length]="cantidadTotalRegistros" [pageIndex]="paginacion.pagina"
                [pageSize]="paginacion.recordsPorPagina" [pageSizeOptions]="[10,25,50]" class="mat-elevation-z8"
                (page)="actualizarPaginacion($event)">

            </mat-paginator>
        </ng-container>
    </app-listado-generico>
</div>